.User-Avatar {
  height: 150px;
  width: 150px;
}

.User-Profile {
  display: flex;
  min-height: 85vh;
    padding: 50px;
}

.User-Details {
  padding-left: 30px;
}

.User-Data {
  display: flex;
  padding: 5px;
}

.Data-Name {
  min-width: 150px;
  font-weight: 600;
  text-align: left;
}

.Separator {
  min-width: 30px;
}